@media screen and (max-width:768px){
    .contato-time .contato{
        width: 100%;
    }
    
    .contato-time .time{
        width: 100%;
        margin-top: 50px;
    }

    nav.menu-desktop{
        display: none;
    }

    nav.menu-mobile{
        display: block;
    }

    
}

@media screen and (max-width:568px){
    .contato-time .single-box-time{
        width: 100%;
    }

    .contato-time .time > div.flex{
        display: flex;
        flex-wrap: wrap;
    }
}